body
{
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    &.is-visible
    {
        opacity: 1;
        visibility: visible;
        transition: all .4s;
    }
}

.container
{
    margin: auto;
}

section
{
   height: 100vh; 
}

.gradient 
{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
}


body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    overflow:hidden;
    
}
html {
    height: fill-available;
    height: -webkit-fill-available;
}

.swiper0
{
    // height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

.swiper0 
{
    overflow: hidden;

    .swiper-wrapper {overflow:hidden;}

    .swiper-slide
    {
        overflow-y:scroll;

        &.is-hidden
        {
            opacity: 0 !important;
            transition: opacity .5s;
        }
    }
}

.swiper1
{
    // height: 100vh;
    min-height: auto;

    @include breakpoint(min, medium) {
        min-height: fill-available;
        min-height: -webkit-fill-available;
    }; 
}

.aspect-video {
    aspect-ratio: 14 / 9 !important;
}


::-webkit-scrollbar
{
  width: 5px;
  background-color: #transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3);
  background-color: #555;
}